.task__list--page {
  .table__wrap {
    overflow: scroll;
  }
  table.table {
    table-layout: auto;
    width: 100%;
    border: 1px solid #000;

    th,
    td {
      padding: 5px;
      border: 1px solid #000;
      vertical-align: middle;

      &.user--name {
        min-width: 100px;
      }
    }

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(976px / 4);
    }

    tr {
      height: 40px;
      &:hover {
        background-color: #ccc;
      }
    }

    a {
      text-decoration-line: underline;
      color: blue;
    }
  }
}
