$mq-breakpoints: (
  'sm': 'screen and (min-width: 401px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 1001px)',
  'xl': 'screen and (min-width: 1201px)',
) !default;

$max_mq-breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($mq-breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin max_mq($breakpoint) {
  @media #{map-get($max_mq-breakpoints, $breakpoint)} {
    @content;
  }
}

$primary-color: #4285f4;
$secondary-color: #0f9d58;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;

@import 'reset.css';
@import 'base.scss';
@import 'components/header.scss';
@import 'components/modal.scss';
@import 'components/pagination.scss';
@import 'components/alert.scss';
@import 'guest/register.scss';
@import 'guest/login.scss';
@import 'home/home.scss';
@import 'task/list.scss';
@import 'task/detail.scss';
