.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9000;
  width: 100%;
  height: 56px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px 10px;
  background-color: #fff;

  .logo {
    height: 100%;
  }

  .list {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 100%;

    @include max_mq(sm) {
      display: none;
    }

    > li {
      margin-left: 15px;
      font-size: 20px;
      font-weight: bold;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .dropdown__wrap {
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }
}

.header-spacer {
  padding-top: 56px;
}
